
<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button default-href="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentAlert(selectedAnnonce.id)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Details of this course</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="ion-margin"  *ngIf="selectedAnnonce">
    <ion-grid>
      <ion-row>
        <ion-col size="9" offset="1">
          <ion-label>
          Title: {{ selectedAnnonce.title }}
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8" offset="1" *ngIf="selectedAnnonce">
          <ion-label>
            Description :  {{ selectedAnnonce.description }}
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8" offset="1" *ngIf="selectedAnnonce">
          <ion-label>
            Price :  {{ selectedAnnonce.prix }}
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8" offset="1" *ngIf="selectedAnnonce">
          <ion-label>
            Categorie :  {{ selectedAnnonce.categorie }}
          </ion-label>
        </ion-col>
      </ion-row>
      
    </ion-grid>
  </div>
</ion-content>
